@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body {
    background-image: linear-gradient(rgba(26, 10, 2, 0.498),rgba(31, 9, 2, 0.503)),url(https://i.pinimg.com/originals/39/87/2d/39872d5ebb92f7c6973c22c10751d62c.jpg);
    color: white;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Gabarito', cursive;
    background-color: rgba(43, 17, 5, 0.574);
    border: 2px solid rgb(135, 96, 78);
    border-style: solid;
    font-size: 55px;
    border-radius: 5px;
    position: fixed;
    height: 80px;
    width: 100%;
    margin: 0;
    padding-top: 15px;
}

.options{
    padding-top: 130px;
}

.options button{
    margin: 0px 20px;
}


#add{
    display: none;
}

#add button{
    margin: 20px;
}

.add_book{
    display: flex;
    justify-content: center;
}

.info_book{
    display: grid;
    background-color: rgba(44, 22, 13, 0.778);
    border-radius: 5%;
    border-color: rgb(149, 102, 82);
    border-style: solid;
    background-size: cover;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    width: 40%;
    gap: 10px;
    text-align: center;
    align-items: center;
}

p{
    font-size: 19px;
}

.info_book p{
    grid-area: 2/ 1/ 2/ span 2;
    text-align: center;
}

.img_book{
    height: 360px;
    width: 400px;
    background-color: rgba(44, 22, 13, 0.778);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border-color: rgb(138, 95, 77);
    border-style: solid;
    background-size: cover;
}

.img_book img{
    width: 70%;
    height: 90%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}

/* cambios checho */

.contain_books{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 35px 55px;
    gap: 40px ;
}

.book{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
    background-color: rgba(53, 31, 18, 0.814);
    border: 3px solid rgb(135, 96, 78);
    border-radius: 10px;
    align-items: center;
    text-align: initial;
    height: 280px;
}

.book p{
    padding-left: 20px;
}

.contain_img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.book img{
    height: 100%;
    width: 100%;
}

.book button, .book input{
    margin: 2px 20px;
    height: 30px;
}

.book label{
    margin: 10px 20px;
    text-wrap: nowrap;

}

button{
    background-color: rgba(31, 10, 4, 0.687);
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    border-radius: 8px;
}

label{
    font-size: 22px;

}

select{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
}

input{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    height: 40px;
}
